# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# production -- Include with release but not in repo
# dist
keynav-web.js

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# probably not a good idea to commit lock files to the repo (just use for builds)
package-lock.json
npm-shrinkwrap.json

